<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DocObject jQuery Quick Start</title>

    <!-- DocObject Script Here -->
    <script src="https://cdn.jsdelivr.net/gh/MaxG-Git/DocObject/dist/docobject.bundle.min.js"></script>

</head>


<body>


</body>


<script>
    var doc = Doc.obj(document.body, {
        values: {
        },
        binds: (g) => {
            return {
                this: ({ clock }) => g.h1(clock),
            }
        },
    });

    setInterval(() => {
        doc.values.clock = new Intl.DateTimeFormat('en', { hour: 'numeric', minute: 'numeric', second: 'numeric' }).format(new Date())
    }, 1000)
</script>





</html>